@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* First div */

.first-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 65%;
    padding: 10px;
    background-color: #1f2937;
}

.first-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a{
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.first-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98%;
    gap: 20px;
}

.first-content-left {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.first-content-right {
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.first-button {
    color: white;
    background-color: rgb(56, 130, 246);
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all ease 300ms;
}

.first-button:hover{
    background-color: rgba(56, 130, 246, 0.5);
    border: 1px solid #f9faf8;
}

.hero-text, a {
    color: #e5e7eb;
    font-size: 18px;
}

/* Second div */

.second-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.second-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    gap: 20px;
}

.items {
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.info {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.info-image {
    height: 150px;
    width: 200px;
    border: 3px solid rgb(56, 130, 246);
    border-radius: 10px;
}

/* Third div */

.third-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: #e5e7eb;
}

.third-container {
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 28px;
    font-style: italic;
    color: #1f2937;
}

/* Fourth div */

.fourth-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.fourth-container {
    width: 70%;
    height: 40%;
    background-color: rgb(56, 130, 246);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
}

.card-content {
    color: #e5e7eb;
    font-size: 15px;
}

.card-header {
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
}

.card-button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #f9faf8;
    color: #f9faf8;
    background-color: rgb(56, 130, 246);
    cursor: pointer;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}